<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estoque</title>
    <link rel="stylesheet" href="style_estoque.css">
</head>
<body>
    <div id="header">
        <img class="logo" src="media/pdf_loja_logo.png">
        <h1>Eletroficina Galvão Serviços</h1>
        
        <ul>
          <li><a href="index.html">Ordens de Serviço</a></li>
          <li><a href="estoque.html">Estoque</a></li>
          <li><a>Controle</a></li>
        </ul>

    </div>
</body>
</html>