<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <script src="script.js"></script>
    <title>Document</title>
</head>
<body>
    <div id="header">
        <img class="logo" src="media/pdf_loja_logo.png">
        <h1>Eletroficina Galvão Serviços</h1>
        
        

        

        <ul>
          <li><a href="index.html">Ordens de Serviço</a></li>
          <li><a href="estoque.html">Estoque</a></li>
          <li><a>Controle</a></li>
        </ul>

        <button onclick="showNotifications()">
          <img src="" alt="notificações">
        </button>

    </div>

    <div id="notification-window" style="display: none;">
      <div>
        <img src="https://static-00.iconduck.com/assets.00/warning-icon-512x475-3uq28x4p.png" alt="">
      </div>
      <div>
        <p>A ordem de serviço X do cliente XXX já possui todas as peças nescessárias</p>
        <button>Reservar agora</button>
        <button>Abrir ordem</button>
      </div>
      <button onclick="hideNotifications()"></button>
    </div>

    <div id="container">  
        <input type="text" id="search_bar" placeholder="Pesquisar">     
        <button onclick="novaOrdem(document.getElementById('novaOrdemModal'))">Nova Ordem</button>
        <div id="tabela">
          <table>
          <thead>
            <tr>
                <th scope="col">Ordem de Serviço</th>
                <th scope="col">Cliente</th>
                <th scope="col">Equipamento</th>
                <th scope="col">Data de Saída</th>
                <th scope="col">Serviço</th>
                <th scope="col">Situação</th>
                <th scope="col">Técnico</th>
            </tr>
          </thead>
          <tbody>            
          </tbody>
          </table>
        </div>
        
      </div>
    
    <dialog id="novaOrdemModal">
      <h1>Nova Ordem de Serviço</h1>
      <button onclick="fechar(document.getElementById('novaOrdemModal'))">X</button>
      <form>
        <div>
          <h2>Informações do cliente</h2>
          <input type="text" placeholder="Nome" id="nome">
          <input type="number" placeholder="CPF/CNPJ" id="cpf">
          <input type="text" placeholder="Endereço" id="endereco">
          <input type="number" placeholder="Telefone" id="telefone">
        </div>
        <hr>
        <div>
          <h2>Informações do equipamento</h2>
          <input type="text" placeholder="equipamento" id="equipamento">
          <input type="number" placeholder="Número de série" id="numeroSerie">
        </div>
        <hr>
        <div>
          <h2>Informações do serviço</h2>
          <input type="text" placeholder="Serviço" id="servico">
          
          <label>Data para entrega</label>
          <input type="date" placeholder="Data de entrega" id="dataSaida">

          <label>Técnico responsável</label>
          <select id="funcionarioBox">
            
          </select>

          <div id="anexo">
            <p>Anexar Imagem</p>
            <input type="file" id="images" accept="image/jpeg" multiple/>
            <label for="images" id="images_label">+</label>
          </div>

          <label>Observações do cliente</label>
          <input type="text" id="obs">

          <label>Comentários</label>
          <input type="text" id="coments">

        </div>
      </form>
      <button onclick="abrirFolhaOrçamento(document.getElementById('folhaOrçamentoModal'))">Folha de orçamento</button>
          <button onclick="submit()">Enviar</button>
    </dialog>

    <dialog id="os_selecionada">
      <button onclick="fechar(document.getElementById('os_selecionada'))">X</button>
      <button class="apagarOs">Excluir</button>
      <button class="editarOs">Editar</button>
      <div id="data_div">
        
      </div>
    </dialog>

    <dialog id="folhaOrçamentoModal">
      <h1>Orçamento</h1>
      <button onclick="fechar(document.getElementById('folhaOrçamentoModal'))">X</button>
      <div id="camposOrcamento">
        
      </div>
      <button id="adicionarProduto">+</button>
      <button onclick="fechar(document.getElementById('folhaOrçamentoModal'))">Salvar Orçamento</button>
    </dialog>

    <button id="a">oOOos</button>
</body>
</html>