body{
    margin: 0;
}

#header > img{
    width: 100px;
    height: 100px;
}

#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #F9F6EE;
    box-shadow: 0 1px 10px black ;
}

#header > h1{
    font-size: 30px;
    margin-left: -200px;
    font-family: 'Times New Roman', Times, serif;
}

#header > ul{
    list-style: none;
    text-align: right;
    margin-right: 30px;
}

#header > ul > li{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    display: inline;
    margin-right: 50px;
}
#header > ul > li:hover{
    background-color: #89CFF033;
}





#container{
    padding-top: 30px;
    margin: auto;
    width: 80%;
}

#tabela {
    height: 420px;
    border-style: solid;
    border-radius: 10px;
    border-width: 2px;
    overflow: hidden;
}

#container > input {
    font-size: 20px;
    border-radius: 10px;
}

table{
    border-spacing: 0px;
    table-layout: fixed;
    width: 100%;
}

thead th{
    border-bottom-style: solid;
    border-width: 2px;
    background-color: #cccccc;
    font-size: 15px;
    font-family: Arial;
    text-align: left;
    width: 0px;
    padding: 10px;
}

thead th:nth-child(1){
    width: 15%;
}

tbody{
    overflow-y: scroll;
}

tbody td:nth-child(1){
    text-align: center;

}

tbody tr:hover{
    background-color: gray;
}

td{
    font-family: Arial;
    font-size: 12px;
    border-bottom: 1px solid #aaaaaa;
    overflow: auto;
}

tr {
    height: 30px;
}


dialog {
    padding-top: 0;
    width: 60%;
    height: 80%;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 10px black ;
}

dialog::backdrop{
    background-color: #00000099;
}

dialog #fechar_modal {
    font-family: arial;
    font-size: 30px;
    width: 40px;
    cursor: default;
    position: absolute;
    right: 0px;
    top: 0px;
    border: none;
    background-color: white;
    color: #aaaaaa;
}

#novaOrdemModal div{
    margin-top: 10px;
}

dialog #fechar_modal:hover{
    background-color: rgb(212, 63, 63);
    color: black;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    
}

#novaOrdemModal label {
    display: block;
    font-family: arial;
    margin-bottom: 8px;
}

#novaOrdemModal input {
    width: 40%;
    padding: 11px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border: none;
    border-bottom: 1px solid rgb(61, 61, 61);
    box-sizing: border-box;
}
#novaOrdemModal input:focus{
    outline: none;
}
#novaOrdemModal input:focus::placeholder{
    color: black;
    font-size: 11px;
    transition: all 0.3s ease-in-out;
    transform: translateY(-15px);
}

#novaOrdemModal #cpf{
    width: 15%;
}
#novaOrdemModal #telefone{
    width: 20%;
}
#novaOrdemModal #obs{
    width: 100%;
}

#novaOrdemModal #anexo{
    position: absolute;
    right: 20%;
    top: 90%;
}
#novaOrdemModal #anexo p{

    font-family: arial;
}
#novaOrdemModal #images {
    display: none;
}
#novaOrdemModal #images_label{
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    font-size: 40px;
    text-align: center;
}

#novaOrdemModal #submit{
    font-size: 25px;
    padding: 15px;
    position: relative;
    border-radius: 3px;
    left: 50%;
    translate: -50%;
    border: none;
    background-color: rgb(67, 219, 67);
    color: whitesmoke;
}

#os_selecionada {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.infos{
    display: flex;
    align-items: center;
    height: 50px;
}
.infos label {
    margin-left: 10px;
    font-size: 20px;
}

#notification-window {

    padding: 0.3em;
    position: fixed;
    top: 15%;
    right: 1em;
    width: 18.75em;
    max-width: calc(100% - 3em);
    background-color: rgb(192, 192, 192);
    border-radius: 3px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    img {
        width: 30%;
        height: 30%;
    }

    div{
      
        text-align: center;
        padding: 0.2em;
        background-color: rgb(219, 18, 18);
    }

    div > button{
        box-shadow: -1px 0 0 hsla(var(--hue),10%,10%,0.15);
        background-color: transparent;
        border: none;
        padding: 0.2em;
        width: 100%;        
    }
    div > button:hover{
        background-color: rgb(131, 41, 41);
        color: white;
    }
    

}